@import url("https://fonts.googleapis.com/css?family=Open+Sans|Open+Sans+Condensed:300,700");
body {
  font-family: "Open Sans", Helvetica, sans-serif;
  text-align: center;
  margin: 20px;
}

img {
  max-height: 150px;
  margin: auto;
  display: inline-block;
}
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  font-weight: 400;
}

.card {
  display: inline-block;
  width: 300px;
  padding: 1em;
  border-radius: 15px;
  margin: 60px;
  background: #ddd;
  text-align: left;

  &__caption {
    background-color: rgba(#ffffff, 0.65);
    padding: 1em;
    position: relative;
    border-radius: 0 0 3px 3px;
  }
  &__image-container {
    background-color: rgba(#000000, 0.7);
    text-align: center;
    padding: 1em 1em 0;
    border-radius: 3px 3px 0 0;
    height: 100%;
  }

  &__type {
    position: relative;
    text-align: center;
    // top: 0;
    // right: 1em;
    // transform: translateY(-50%);
    color: #ffffff;
    text-transform: uppercase;
    font-family: "Open Sans Condensed", "Open Sans", helvetica, sans-serif;
    letter-spacing: 0.1em;
    padding: 0.25em;
    line-height: 1;
    border-radius: 2px;
    background: #bbbbbb;
  }

  &__eye {
    position: absolute;

    top: 0;
    right: 1em;
    transform: translateY(-50%);



  }

  &__label {
    font-size: 10px;
    text-transform: uppercase;
    font-weight: 400;
    display: block;
    margin-bottom: 3px;
  }

  &__name {
    font-family: "Open Sans Condensed", "Open Sans", helvetica, sans-serif;
    text-align: center;
    font-size: 1.5em;
    font-weight: 700;
    letter-spacing: 0.02em;
    text-transform: uppercase;
  }

  &__stats {
    margin: 1em 0;
    th {
      font-family: "Open Sans Condensed", "Open Sans", helvetica, sans-serif;
      text-align: right;
      font-weight: 300;
    }
    width: 100%;

    th,
    td {
      width: 50%;
      padding: 0.25em 0.5em 0;
    }
  }

  &__abilities {
    display: flex;
    justify-content: space-between;
  }
  &__ability {
    margin-top: 1em;
    flex: 1 0;
  }

  box-shadow: 0px 5px 20px -10px #111111;

  &--normal {
    background: linear-gradient(110deg, #d49eab 0%, #79565c 100%);
    box-shadow: 0px 10px 20px 5px #79565c;
    .card__type {
      background-color: #d49eab;
    }
  }

  &--water {
    background: linear-gradient(120deg, #83a8ff 0%, #1154ea 100%);
    box-shadow: 0px 10px 20px 5px #1154ea;
    .card__type {
      background-color: #83a8ff;
    }
  }
  &--electric {
    background: linear-gradient(90deg, #fafa72 34%, #e2e32b 83%);
    box-shadow: 0px 10px 20px 5px #e2e32b;
    .card__type {
      background-color: #e2e32b;
    }
  }
  &--fire {
    background: linear-gradient(0deg, #a24123 10%, #ac1c1d 100%);
    box-shadow: 0px 10px 20px 5px #ac1c1d;
    .card__type {
      background-color: rgba(199, 24, 0, 1);
    }
  }

  &--psychic {
    background: linear-gradient(
      140deg,
      #fd1994 0%,
      rgba(255, 44, 195, 1) 39%,
      #a82c6e 100%
    );
    box-shadow: 0px 10px 20px 5px #a82c6e;
    .card__type {
      background: #ff2cc3;
    }
  }

  &--dark {
    background: linear-gradient(
      20deg,
      #5b597e 0%,
      #010506 33%,
      rgba(92, 2, 73, 1) 100%
    );
    box-shadow: 0px 10px 20px 5px rgba(25, 25, 25, 1);
    .card__type {
      background: #5b597e;
    }
  }
  &--grass {
    background: linear-gradient(
      140deg,
      rgba(196, 218, 61, 1) 0%,
      #23d751 69%,
      #128344 100%
    );
    box-shadow: 0px 10px 20px 5px #128344;
    .card__type {
      background: #23d751;
    }
  }

  &--ice {
    background: linear-gradient(
      230deg,
      #cdf7ff 0%,
      #85d9fe 46%,
      rgba(111, 184, 235, 1) 100%
    );
    box-shadow: 0px 10px 20px 5px rgba(111, 184, 235, 1);
    .card__type {
      background: #6fb8eb;
    }
  }

  &--fairy {
    background: linear-gradient(
      45deg,
      #e91368 0%,
      #961a45 34%,
      rgba(255, 166, 185, 1) 71%
    );
    box-shadow: 0px 10px 20px 5px #961a45;
    .card__type {
      background: #e91368;
    }
  }

  &--bug {
    background: linear-gradient(110deg, #3ca153 0%, #1d4e27 100%);
    box-shadow: 0px 10px 20px 5px #1d4e27;
    .card__type {
      background-color: #3ca153;
    }
  }

  &--dragon {
    background: linear-gradient(110deg, #5fd5eb 0%, #42939f 100%);
    box-shadow: 0px 10px 20px 5px #42939f;
    .card__type {
      background-color: #5fd5eb;
    }
  }

  &--fighting {
    background: linear-gradient(110deg, #f86532 0%, #a24123 100%);
    box-shadow: 0px 10px 20px 5px #a24123;
    .card__type {
      background-color: #f86532;
    }
  }

  &--flying {
    background: linear-gradient(110deg, #94b2c7 0%, #4c6c81 100%);
    box-shadow: 0px 10px 20px 5px #4c6c81;
    .card__type {
      background-color: #94b2c7;
    }
  }

  &--ghost {
    background: linear-gradient(110deg, #936896 0%, #33326c 100%);
    box-shadow: 0px 10px 20px 5px #33326c;
    .card__type {
      background-color: #936896;
    }
  }

  &--ground {
    background: linear-gradient(110deg, #ae732d 0%, #6e491f 100%);
    box-shadow: 0px 10px 20px 5px #6e491f;
    .card__type {
      background-color: #ae732d;
    }
  }

  &--poison {
    background: linear-gradient(110deg, #a06bdf 0%, #622c8e 100%);
    box-shadow: 0px 10px 20px 5px #622c8e;
    .card__type {
      background-color: #a06bdf;
    }
  }

  &--rock {
    background: linear-gradient(110deg, #8b3e22 0%, #48190b 100%);
    box-shadow: 0px 10px 20px 5px #48190b;
    .card__type {
      background-color: #903f21;
    }
  }

  &--steel {
    background: linear-gradient(110deg, #43c69a 0%, #5f796e 100%);
    box-shadow: 0px 10px 20px 5px #5f796e;
    .card__type {
      background-color: #43c69a;
    }
  }

  &--generico {
    background: linear-gradient(110deg, #afb0b2 0%, #afb0b2 100%);
    // box-shadow: 0px 10px 20px 5px #afb0b2;
    .card__type {
      background-color: #afb0b2;
    }
  }

  position: relative;
  transition: 0.4s;

  //  @for $i from 1 through 9 {
  //    &:nth-child(#{$i}) {
  //      $rotation: (5 - random(10)) + deg;
  //      transform: translateY(0px) rotate($rotation);
  //    }
  //  }

  &:hover {
    z-index: 5;
    box-shadow: 0px 13px 30px -15px #000000;
    transform: translateY(-10px);
  }
}

.cartas {
  &,
  & * {
    box-sizing: border-box;
    transition: 400ms;
  }
  display: inline-block;
  margin: 29px;
  margin-bottom: 25px;
  padding-left: 15px;
  padding-right: 15px;
  width: 300px;
  height: 300px;
  border-radius: 20px;
}
.tipos {
  position: relative;
  display: flex;
  margin: 5;
  margin-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;

  //   img {
  //    width: 99px;
  //    height: 130px;
  //  }

   img {
     width: 5.25%;
     height: 6%;
   }


  :hover {
    transform: translateY(-20px);
  }
}
.orden {
  display: inline-block;
  margin: 5px;
  align-items: center;
}


.button-85 {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-85:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.button-85:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}



.button-49,
.button-49:after {
  width: 150px;
  height: 76px;
  line-height: 78px;
  font-size: 20px;
  font-family: 'Bebas Neue', sans-serif;
  background: linear-gradient(45deg, transparent 5%, #FF013C 5%);
  border: 0;
  color: #fff;
  letter-spacing: 3px;
  box-shadow: 6px 0px 0px #00E6F6;
  outline: transparent;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-49:after {
  --slice-0: inset(50% 50% 50% 50%);
  --slice-1: inset(80% -6px 0 0);
  --slice-2: inset(50% -6px 30% 0);
  --slice-3: inset(10% -6px 85% 0);
  --slice-4: inset(40% -6px 43% 0);
  --slice-5: inset(80% -6px 5% 0);

  content: 'ALTERNATE TEXT';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(45deg, transparent 3%, #00E6F6 3%, #00E6F6 5%, #FF013C 5%);
  text-shadow: -3px -3px 0px #F8F005, 3px 3px 0px #00E6F6;
  clip-path: var(--slice-0);
}

.button-49:hover:after {
  animation: 1s glitch;
  animation-timing-function: steps(2, end);
}

@keyframes glitch {
  0% {
    clip-path: var(--slice-1);
    transform: translate(-20px, -10px);
  }
  10% {
    clip-path: var(--slice-3);
    transform: translate(10px, 10px);
  }
  20% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 10px);
  }
  30% {
    clip-path: var(--slice-3);
    transform: translate(0px, 5px);
  }
  40% {
    clip-path: var(--slice-2);
    transform: translate(-5px, 0px);
  }
  50% {
    clip-path: var(--slice-3);
    transform: translate(5px, 0px);
  }
  60% {
    clip-path: var(--slice-4);
    transform: translate(5px, 10px);
  }
  70% {
    clip-path: var(--slice-2);
    transform: translate(-10px, 10px);
  }
  80% {
    clip-path: var(--slice-5);
    transform: translate(20px, -10px);
  }
  90% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 0px);
  }
  100% {
    clip-path: var(--slice-1);
    transform: translate(0);
  }
}

@media (min-width: 768px) {
  .button-49,
  .button-49:after {
    width: 200px;
    height: 86px;
    line-height: 88px;
  }
}



.button-54 {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-54:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}

@media (min-width: 768px) {
  .button-54 {
    padding: 0.25em 0.75em;
  }
}


.button-35 {
  align-items: center;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: transparent 0 0 0 3px,rgba(18, 18, 18, .1) 0 6px 20px;
  box-sizing: border-box;
  color: #121212;
  cursor: pointer;
  display: inline-flex;
  flex: 1 1 auto;
  font-family: Inter,sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  justify-content: center;
  line-height: 1;
  margin: 0;
  outline: none;
  padding: 1rem 1.2rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s,-webkit-box-shadow .2s;
  white-space: nowrap;
  border: 0;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-35:hover {
  box-shadow: #121212 0 0 0 3px, transparent 0 0 0 0;
}


.button-48 {
  appearance: none;
  background-color: #FFFFFF;
  border-width: 0;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  font-family: Clarkson,Helvetica,sans-serif;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 1em;
  margin: 0;
  opacity: 1;
  outline: 0;
  padding: 1.5em 2.2em;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-rendering: geometricprecision;
  text-transform: uppercase;
  transition: opacity 300ms cubic-bezier(.694, 0, 0.335, 1),background-color 100ms cubic-bezier(.694, 0, 0.335, 1),color 100ms cubic-bezier(.694, 0, 0.335, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
}

.button-48:before {
  animation: opacityFallbackOut .5s step-end forwards;
  backface-visibility: hidden;
  background-color: #EBEBEB;
  clip-path: polygon(-1% 0, 0 0, -25% 100%, -1% 100%);
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transform: translateZ(0);
  transition: clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1), -webkit-clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1);
  width: 100%;
}

.button-48:hover:before {
  animation: opacityFallbackIn 0s step-start forwards;
  clip-path: polygon(0 0, 101% 0, 101% 101%, 0 101%);
}

.button-48:after {
  background-color: #FFFFFF;
}

.button-48 span {
  z-index: 1;
  position: relative;
}

.ojo {
  width: 25px;
}
