.search-bar {
  padding-top: 2%;
  width: 100%;
  height: 50px;
  justify-content: center;
  display: inline-flex;
  flex-wrap: wrap;
  color: rgb(255, 255, 255);
  margin-top: 40px;
  margin-bottom: 50px;

  input {
    width: 300px;
    height: 50px;
    background: #bcdcfda1;
    border: none;
    font-size: 13pt;
    float: left;
    color: #424040;
    padding-left: 30px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 10px;
    -webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
    -moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
}
