<style>
  @import url('http://fonts.cdnfonts.com/css/pokemon-solid');
  </style>

<body>
  <!-- <table class="zigzag" >
    <thead>
      <tr>
        <th class="header">Tipo</th>
        <th class="header">Efectivo Contra</th>
        <th class="header">Débil Contra</th>
      </tr>
    </thead>
    <tbody *ngFor="let estrategia of estrategias">
      <tr>
        <td>{{estrategia.tipo}}</td>
        <td>{{estrategia.efectivoContra}}</td>
        <td>{{estrategia.debilContra}}</td>

      </tr>

    </tbody>
  </table> -->

  <div class="container">
    <h2>Debilidades y Fortalezas <small></small></h2>
    <ul class="responsive-table">
      <li class="table-header">
        <div class="col col-1">Tipo</div>
        <div class="col col-2">Eficaz contra</div>
        <div class="col col-3">Débil contra</div>
      </li>

      <li class="table-row" *ngFor="let estrategia of estrategias">
        <div class="col col-1" data-label="tipo">{{ estrategia.tipo }}</div>
        <div class="col col-2" data-label="Eficaz contra">
          {{ estrategia.efectivoContra }}
        </div>
        <div class="col col-3" data-label="Débil contra">
          {{ estrategia.debilContra }}
        </div>
      </li>
    </ul>
  </div>
</body>
